  
  a {text-decoration: none;
  color: inherit ;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0a0a0a;
  }
  body{
    background-color: #ddd;
    line-height: 20px;
    font-size: 18px;
  }
 /*======================обёртка, позиционирование, отступ под правое меню*/
  .wrapper{
    box-sizing: border-box;
    max-width: 1400px;
    overflow: hidden;
    margin: 30px auto;
  }
  .header{
      background-color:#0a0a0a ;
      padding: 33px 0 32px;
      font-size: 24px;
      line-height: 29px;
      color:#717171 ;
  }
  .container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: blue;
  }
  .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .menu{
      display: flex;
  }
  .menu-iten{
      padding-right:  30px; 
  }
  img {
    width: 100%;
    transition: transform .5s;
}
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
}